body {
  font-size: 16px;
  font-family: $body-font;
  line-height: $default-line-height;
}

svg {
  width: 32px;
  height: 32px;
}

.header {
  line-height: $default-line-height;
  font-family: $header-font;
  color: $header-font-color;

  &.large {
    font-size: em(45);
    font-weight: 900
  }

  &.medium {
    font-size: em(39);
    font-weight: 800
  }

  &.small {
    font-size: em(33);
    font-weight: 700
  }
}

.paragraph {
  line-height: $default-line-height * 1.2;
  color: $body-font-color;

  &.large {
    font-size: em(22);
  }

  &.medium {
    font-size: em(18);
  }

  &.small {
    font-size: em(16);
  }
}

.link {
  color: inherit;
  padding: $padding $padding * 1.5;
  letter-spacing: 0.04em;
  font-weight: 600;

  &.large {
    font-size: em(21);
  }

  &.medium {
    font-size: em(19);
  }

  &.small {
    font-size: em(16);
    letter-spacing: 0.06em;
  }
}
