body {
  font-size: 16px;
  font-family: $body-font;
  line-height: $default-line-height;
}

svg {
  width: 32px;
  height: 32px;
}

.header {
  line-height: $default-line-height;
  font-family: $header-font;
  color: $header-font-color;

  $header-large: 45;
  $header-medium: 39;
  $header-small: 33;

  &.large {
    font-size: em($header-large);
    font-weight: 900;
  }

  &.medium {
    font-size: em($header-medium);
    font-weight: 800;
  }

  &.small {
    font-size: em($header-small);
    font-weight: 700;
  }

  @include at-mobile {
    &.large {
      font-size: em($header-large) * 0.75;
    }
    &.medium {
      font-size: em($header-medium) * 0.75;
    }
    &.small {
      font-size: em($header-small) * 0.75;
    }
  }
}

.paragraph {
  line-height: $default-line-height * 1.2;
  color: $body-font-color;

  $paragraph-large: 22;
  $paragraph-medium: 18;
  $paragraph-small: 16;

  &.large {
    font-size: em($paragraph-large);
  }

  &.medium {
    font-size: em($paragraph-medium);
  }

  &.small {
    font-size: em($paragraph-small);
  }

  @include at-mobile {
    &.large {
      font-size: em($paragraph-large) * 0.95;
    }
    &.medium {
      font-size: em($paragraph-medium) * 0.95;
    }
    &.small {
      font-size: em($paragraph-small) * 0.95;
    }
  }
}

.link {
  color: inherit;
  padding: $padding $padding * 1.5;
  letter-spacing: 0.04em;
  font-weight: 600;

  $link-large: 21;
  $link-medium: 19;
  $link-small: 16;

  &.large {
    font-size: em($link-large);
  }

  &.medium {
    font-size: em($link-medium);
  }

  &.small {
    font-size: em($link-small);
    letter-spacing: 0.06em;
  }

  @include at-mobile {
    &.large {
      font-size: em($link-large) * 0.95;
    }
    &.medium {
      font-size: em($link-medium) * 0.95;
    }
    &.small {
      font-size: em($link-small) * 0.95;
    }
  }
}
