@font-face {
    font-family: "Epilogue";
    src: url("../fonts/Epilogue-ExtraBold.ttf");
    font-weight: 800;
    font-display: swap
  }

  h1 {
      @include at-mobile {
          font-size: 36px;
          line-height: 1.5em !important;
      }
      @include at-mobile-small {
          font-size: 10.5vw !important;
      }
  }

  h2 {
    @include at-mobile {
        font-size: 36px;
        line-height: 1.5em !important;
    }
    @include at-mobile-small {
      font-size: 10.5vw !important;
    }
}

  .paragraph.small {
    font-size: 16px;
  }

  p {
    @include at-mobile {
        font-size: 16px;
        line-height: 140%;
    } 
  }