@mixin absolute-center-xy {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
}

@mixin absolute-center-y {
    position: absolute;
    transform: translateY(-50%);
    top: 50%; left: 0;
}

@mixin at-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        @content
    }
};

@mixin at-mobile-small {
    @media screen and (max-width: $mobile-breakpoint-small) {
        @content
    }
};

@mixin at-breakpoint {
    @media screen and (max-width: $page-breakpoint) {
        @content
    }
}