//  Colors
$primary: hsl(108, 93%, 38%);
$secondary: hsl(106, 39%, 94%);

$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 60%);
$dark: hsl(120, 9%, 17%);

//  Font Styles
$default-line-height: 1.35;
$header-font: 'Epilogue', sans-serif;
$header-font-color: $dark;

$body-font: 'Poppins', sans-serif;
$body-font-color: $gray;

//  Spacing
$gap-large: 30px;
$gap-medium: 20px;
$gap-small: 15px;

$padding: em(10);
$margin: 10px;

$page-breakpoint: 1039px;
$mobile-breakpoint: 610px;
$mobile-breakpoint-small: 440px;

//  Page
$page-width: 1442px;
$desktop-breakpoint: 700px;
$page-margin: 5vw;

//  Border Radius
$border-radius-large: 12px;
$border-radius-medium: 9px;
$border-radius-small: 6px;

//  Box Shadows
$shadow-color: rgba(0, 16, 75, 0.2);

$box-shadow-large: $shadow-color 0px 6px 6px 0px;
$box-shadow-medium: $shadow-color 0px 4px 5px 0px;
$box-shadow-sm: $shadow-color 0px 2px 4px 0px;
