#hero {
  position: relative;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  .backdrop-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: -1;
    position: absolute;
  }

  .header {
    min-width: 500px;
    max-width: 600px;
    @include at-breakpoint {
      min-width: auto;
      max-height: fit-content;
    }
  }

  .paragraph {
    max-width: 570px;
  }

  @include at-breakpoint {
    height: 1100px;
    .inner {
      justify-content: space-around;
    }
  }
  form {
    justify-content: space-between;
    input {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  .image {
    position: relative;
    @include at-breakpoint {
      order: 1;
    }

    .dishes-A {
      @include absolute-center;
      @include at-breakpoint {
        display: none;
      }
    }

    .dishes-A-mobile {
      position: absolute;
      transform: translate(-50%, -50%) rotate(-35deg);
      top: 360px;
      left: 60%;
      width: 200%;
      min-width: 700px;
      max-width: 1200px;
      display: none;

      @include at-breakpoint {
        display: inline;
      }
      @include at-mobile {
        top: 280px;
        left: 50%;
      }
    }
  }
}
