section.selection {
  height: 1640px;
  position: relative;

  @include at-mobile {
    height: 1940px;
  }

  .content {
    @include at-breakpoint {
      margin: 0 auto;
    }
  }

  .dishes-container {
    @include at-breakpoint {
      order: 3;
    }
  }

  .dishes-B-mobile {
    @include absolute-center;
    display: none;
    position: absolute;
    max-width: 1000px;
    min-width: 900px;
    width: 120%;

    @include at-breakpoint {
      left: 75%;
      top: 55%;
    }

    @include at-mobile {
      left: 95%;
    }
  }

  @include at-breakpoint {
    .dishes-B {
      display: none;
    }
    .dishes-B-mobile {
      display: inline;
    }
  }

  .headline {
    position: relative;
    @include center-x;
    padding: 0 10px;
    order: 3;

    @include at-breakpoint {
      position: absolute;
      bottom: 160px;
      width: 100%;
    }
  }

  .wave-one {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    min-width: 870px;

    @include at-mobile {
      bottom: 380px;
      transform: scale(1.7) translateY(-30px);
    }
  }
}
