section.steps {
  background-color: $white;
  box-shadow: 10px -15px 54px 0px hsla(0, 0%, 0%, 0.08);
  position: relative;
  overflow: visible;

  .line-mobile {
    display: none;
  }

  @include at-breakpoint {
    .line {
      display: none;
    }

    .line-mobile {
      display: flex;
    }
  }

  .header-container {
    @include at-breakpoint {
      margin: 0 auto;
    }
  }

  @include pseudo(after) {
    position: absolute;
    bottom: -100px;
    height: 100px;
    width: 100%;
    background: #fff;
  }

  .steps-content {
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;

    @include at-breakpoint {
      flex-direction: column;
      order: -1;
    }
  }

  .step {
    max-width: 13rem;
  }

  .graph {
    max-width: 100%;
    width: 100%;

    @include at-breakpoint {
      justify-content: space-around;
      flex-direction: row;
      margin: 0 auto;
      max-width: 500px;
    }

    @include at-mobile {
      gap: 20px;
    }

    @include at-mobile-small {
      gap: 0px;
    }
  }

  .counter {
    padding-right: 207px;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 20px;

    @include at-breakpoint {
      flex-direction: column;
      width: fit-content;
      padding-bottom: 73px;
      padding-right: 0px;
    }

    .line {
      width: 30%;
      height: 1px;
    }
  }
}
