button {
  border-radius: 5px;
  display: grid;
  place-items: center;
  box-shadow: $box-shadow-sm;
  width: fit-content;

  .link {
    padding: $padding * 2;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.large {
    min-width: 220px;
  }
  &.medium {
    min-width: 190px;
  }
  &.small {
    min-width: 170px;
  }

  svg {
    vertical-align: middle;
    transform: translateX(18px);
    width: 28px;
    height: 28px;
  }

  @include at-mobile {
      width: 100%;
      height: 100%;
      flex-grow: 1;
  }
}

.links {
  @include at-mobile {
    gap: $gap-small;
    flex-wrap: wrap;

    input {
      width: 100%;
      height: 100%;
    }
  }
}

form {
  display: flex;
  gap: $gap-medium;
  font-size: 16px;
}

input {
  display: flex;
  padding: $padding * 2;
  box-shadow: $box-shadow-sm;
  border-radius: 5px;
  border: none;
}
