button {

    border-radius: 5px;
    box-shadow: $box-shadow-sm;
    width: fit-content;

    &.primary {
        background-color: $primary;
        color: $white;
    }

    &.large {
        height: 65px;
        min-width: 220px;
    }
    &.medium {
        min-width: 190px;
    }
    &.small {
        min-width: 170px;
    }

    svg {
        vertical-align: middle;
        width: 32px;
        height: 32px;
    }
}

.links {
    @include at-mobile {

        gap: $gap-small;
        
        flex-wrap: wrap;
        
        input {
            width: 100%;
        }
        button {
            width: 100%;
            flex-grow: 1;
        }
    }
}

form {
    display: flex;
    gap: $gap-medium;
}

input {
    display: flex;
    padding: $padding * 2;
    box-shadow: $box-shadow-sm;
    border-radius: 5px;
    border: none;
    height: 100%;
}