.content {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  max-width: 48%;
  min-height: 2px;

  @include at-breakpoint {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }
  @include at-mobile {
    max-width: 500px;
  }
}
