header {
  z-index: 100;
  a {
    white-space: nowrap;
  }

  .desktop {
    background: #fff;
    box-shadow: $box-shadow-large;
    z-index: 100;
  }

  nav {
    margin-left: auto;
    padding: 20px 55px;
    max-width: 700px;
    z-index: 100;
    justify-content: space-between;
    display: flex;
    gap: 80px;

    @include at-breakpoint {
      margin: 0 auto;
    }
  }

  .mobile {
    display: none;
    align-items: center;
    width: 100%;
  }

  .panel {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transform: translateY(0%);
    border-bottom: 2px solid #0003;
    width: 100vw;
    height: 100vh;
    background: #fff;
    color: #0009;

    .link {
      width: 180px;
    }
  }

  .panel-enter {
    transform: translateY(-100%);
    transition: all 0.4s ease;
  }

  .panel-enter-active {
    transform: translateY(0%);
    transition: all 0.4s ease;
  }

  .panel-exit {
    transform: translateY(0%);
    transition: all 0.4s ease;
  }

  .panel-exit-active {
    transform: translateY(-100%);
    transition: all 0.4s ease;
  }

  .mobile.open {
    overflow: visible !important;

    .rect-1,
    .rect-2,
    .rect-3 {
      transition: all 0.3s ease;
      width: 32px;
    }
  }

  .mobile.close {
    .rect-1,
    .rect-2,
    .rect-3 {
      transition: all 0.3s ease;
    }
  }

  .mobile-menu {
    cursor: pointer;
    transform: scaleX(-1);
    z-index: 200;
    position: fixed;
    top: 40px;
    right: 3vw;
  }

  @include at-mobile {
    nav {
      flex-direction: column;
      margin: auto;
      gap: 10%;
    }

    background: #fff0;
    box-shadow: none;

    .mobile {
      display: flex;
    }

    .desktop {
      display: none;
    }
  }
}
